@tailwind base;
@tailwind components;
@tailwind utilities;

thin-scrollbar::-webkit-scrollbar-track{
  background: #f1f1f1 !important;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #999 !important; 
  border-radius: 10px !important;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 5px !important; 
  height: 5px !important;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  right: 0;
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
  width: 5px;
  height: 5px;
}